numpy==1.26.4
pandas==2.2.3
packaging==24.2
patsy==1.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.15.2
six==1.16.0  # downgraded to latest stable
statsmodels==0.14.4
tzdata==2025.2
matplotlib==3.8.3
seaborn==0.13.2

# Extra dependencies for your app
shap==0.44.1
streamlit==1.33.0
scikit-learn==1.4.2
plotly==5.21.0
xgboost==2.0.3
joblib==1.4.2